<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--CSS-->
    <link rel="stylesheet" href="./style/style.css">
    
    <!-- Font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <title>Vue-Boolzapp</title>
</head>
<body>

    <!--VUE JS-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">

        <main class="container">
            <section class="container-contacts">

                <!--AVATAR + USER COMMANDS-->
                <article class="my-contact">
                    <div class="flex-my-contact">
                        <img class="img-my-avatar" src="./img/avatar_io.jpg" alt="myAvatar">
                        <div>Sofia</div>
                    </div>
                    <div>
                        <span class="icon-my-contact"><i class="fa-solid fa-circle-notch" style="color: rgb(177, 177, 177);"></i></span>
                        <span class="icon-my-contact"><i class="fa-solid fa-message" style="color:rgb(177, 177, 177);"></i></span>
                        <span class="icon-my-contact"><i class="fa-solid fa-ellipsis-vertical" style="color:rgb(177, 177, 177);"></i></span>
                    </div>
                </article>

                <!--ALERTS-->
                <div class="alerts-info-wrapper">
                    <div class="circle">
                        <i class="fa-solid fa-bell-slash my-bell" style="color:#7ED6FC"></i>
                    </div>
                    <div class="wrapper-alerts-info"> 
                    <div class="font-alerts">Ricevi notifiche di nuovi messaggi</div>
                        <a class="font-link-alerts" href="#">Attiva notifiche Desktop</a>
                    </div>  
                </div>

                <!--SEARCHBAR-->
                <div class="searchbar-wrapper">
                        <button class="button-searchbar"><i class="fa-solid fa-magnifying-glass" style="color: rgb(177, 177, 177);"></i></button>
                        <input class="my-searchbar" placeholder="Cerca o inizia una nuova chat" type="text" id="searchbar-boolzapp" name="searchbar-boolzapp">   
                </div>

                <!--CONTACTS LIST-->
                <div class="list-contacts">
                    <ul class="contact-element-list-wrapper">

                        <!--CICLO V-FOR LISTA CONTATTI-->
                        <li v-for="(contact,index) in contacts" class="flex-list-item-sb">
                            <div class="flex-list-item-img-name">
                                <img class="img-my-avatar" :src="contact.avatar" alt="Avatar Michele">
                                <div class="ms-name-contact">
                                    <div>{{contact.name}}</div>
                                    <p class="hour-font">Ultimo messaggio inviato</p>
                                </div>
                            </div>
                            <div class="hour-last-seen">
                                <p>12:00</p>
                            </div>
                        </li> 


                    </ul>
                </div>
            </section>

            <!--RIGHT CONTAINER-->
            <section class="container-chat">
                <article class="active-contact"> 
                    <div class="flex-my-contact">
                        <img class="img-my-avatar" src="./img/avatar_1.jpg" alt="Avatar Michele">
                        <div class="flex-col-name-hour">
                            <p>Michele</p>
                            <p class="hour-font">Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>
                    <div>
                        <span class="icon-my-contact"><i class="fa-solid fa-magnifying-glass" style="color: rgb(177, 177, 177);"></i></span>
                        <span class="icon-my-contact"><i class="fa-solid fa-paperclip"  style="color:rgb(177, 177, 177);"></i></span>
                        <span class="icon-my-contact"><i class="fa-solid fa-ellipsis-vertical" style="color:rgb(177, 177, 177);"></i></span>
                    </div>
                </article>
                <div class="container-chat-active">
                    <div class="my-messages-flex-column" v-for="(chatmessage,index) in contacts">
                        <article class="message received">
                            {{chatmessage.messages[0].message}}
                        </article>
                        <article class="message sent">
                            #
                        </article>
                        
                    </div>
                </div>
                <div class="taskbar-wrapper">
                    <div>
                        <i class="fa-regular fa-face-smile" style="color:#6A7275"></i>
                    </div>
                    
                    <input class="my-textbar" placeholder="Scrivi un messaggio" type="text" id="textbar-boolzapp" name="textbar-boolzapp">
        
                    <div>
                        <i class="fa-solid fa-microphone" style="color:#6A7275"></i>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!--JS-->
    <script src="./js/script.js"></script>
</body>
</html>