/*RESET*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background: linear-gradient(to bottom, #009688 0px, #009688 18vh,
    #dddbd1 15vh, #d2dbdc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

main.container{
    width: 80vw;
    height: 90vh;
    border: 1px solid black;
    display: flex;
}



/*Lista contatti left*/

main.container section.container-contacts{
    width: 30%;
    height: 100%;
    border: 1px solid red;
}

/*AVATAR+USER COMMANDS*/

article.my-contact{
    height: 8vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

.flex-my-contact{
    display: flex;
    align-items: center;
}

img.img-my-avatar{
    width: 3.5rem;
    border-radius: 50%;
    margin-left: 0.3rem;
}

div.flex-my-contact p{
    margin-left: 0.2rem;
}

span.icon-my-contact{
    margin-right: 0.6rem;
    font-size: 1.1rem;
}

/*ALERTS*/

div.alerts-info-wrapper{
    height: 9vh;
    width: 100%;
    background-color:#7ED6FC;
    display: flex;
    align-items: center;
}

div.alerts-info-wrapper div.circle{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color:#F2FBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.6rem;
}

.my-bell{
    font-size: 1.2rem;
}

.wrapper-alerts-info{
    margin-left: 0.4rem;
}

.font-alerts{
    font-size: 0.85rem;
}

.font-link-alerts{
    font-size: 0.65rem;
    color: #5E8EA4;
}

/*SEARCHBAR*/

div.searchbar-wrapper{
    height: 5vh;
    width: 100%;
    border: 1px solid orange;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.searchbar-wrapper button.button-searchbar{
    margin-left: 0.3rem;
    width: 17%;
    height: 2rem;
    background-color: white;
    border: none;
}

div.searchbar-wrapper input.my-searchbar{
    width: 78%;
    height: 2rem;
    border: none;
    margin-left: 0.15rem;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
}

div.searchbar-wrapper input.my-searchbar::placeholder{
    font-size: 0.7rem;
}

/*LIST CONTACTS*/

div.list-contacts{
    height: calc(100% - 9vh - 8vh - 5vh);
    width: 100%;
    border: 1px solid pink;
    overflow-y: auto;
    background-color: #FFFFFF;
}

li.flex-list-item-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    border: 1px solid magenta;
} 

li.flex-list-item-sb:hover{
    background-color: rgb(232, 232, 232);
}

div.flex-list-item-img-name{
    display: flex;
    align-items: center;
}

div.flex-list-item-img-name img.img-my-avatar{
    margin-left: 0.7rem;
}

div.flex-list-item-img-name div.ms-name-contact{
    margin-left: 0.7rem;
    padding-bottom: 1rem;
}

div.ms-name-contact p.hour-font{
    font-size: 0.7rem;
    color: rgb(177, 177, 177);
    margin-top: 0.2rem;
}

li.flex-list-item-sb div.hour-last-seen{
    font-size: 0.7rem;
    color: rgb(177, 177, 177);
    padding-bottom: 2.5rem;
}

/*Lista chat right*/

main.container section.container-chat{
    width: 70%;
    height: 100%;
    border: 1px solid rgb(30, 0, 255);
}

/*HEADER ACTIVE CONTACT*/

article.active-contact{
    height: 8vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

div.flex-col-name-hour{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

div.flex-col-name-hour p.hour-font{
    font-size: 0.7rem;
    color:rgb(177, 177, 177) ;
}

/*CHAT*/

div.container-chat-active{
    height: 75vh;
    padding-top: 2.5rem;
    width: 100%;
    border: 1px solid green;
    overflow-y: auto;
    background-image: url(../img/mine.jpg)
    
}

div.my-messages-flex-column{
    display: flex;
    flex-direction: column;
}

article.message{
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2.5rem 1rem 2.5rem;
}

div.my-messages-flex-column > article.message.received{
    display: flex;
    align-self: flex-start;
    background-color: #ffffff;
    margin-right: 5rem;
}

div.my-messages-flex-column > article.message.sent{
    display: flex;
    align-self: flex-end;
    background-color: #d5f9ba;
    margin-left: 5rem;
}


/*TASKBAR*/

div.taskbar-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F3EEEA;
    height: calc(100% - 75vh - 8vh);
    width: 100%;
}

input.my-textbar{
    width:80%;
    height: 2rem;
    padding: 0 0.3rem;
    border-radius: 5px;
    border: none;
}

